body {
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    padding: 0;
}

.login {
    margin: 0 auto;
    max-width: 500px;
    padding-top: 7%;
    font-family: 'verdana', sans-serif;
}

.login-header {
    color: #fff;
    text-align: center;
    font-size: 150%;
}

.login-header h1 {
    text-shadow: 0px 5px 15px #000;
}

.login-form h6 {
    text-align: left;
    margin-left: 80px;
    color: #fff;
}

.login-form {
    padding-top: 15px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
    color: #fff;
}

.login ::placeholder {
    color: #b4b4b4;
}

.login input[type="text"],
.login input[type="password"] {
    max-width: 500px;
    width: 70%;
    line-height: 2.7em;
    font-family: 'Ubuntu', sans-serif;
    margin: .8em 2em;
    border-radius: 30px;
    border: 4px solid #f2f2f2;
    color: #6b6b6b;
    outline: none;
    padding-left: 15px;
    padding-right: 15px;
    -webkit-transition-duration: 0.4s ease-in-out;
    transition-duration: 0.4s;
}

.login input[type="text"]:hover,
.login input[type="password"]:hover {
    background-color: #d3ffd5;
}

.login-form input[type="Submit"] {
    background-color: #e3caff;
    border: none;
    color: #2e2a33;
    height: 50px;
    width: 100px;
    padding: 12px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    font-size: 16px;
    margin: 0px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.6s ease-in-out;
    transition-duration: 0.6s;
}

.login-form input[type="Submit"]:hover {
    color: #ffffff;
    background: #303030;
}

.log-in {
    color: #ffffff;
}

.log-in:hover {
    text-decoration: underline;
    color: #3a3a3a;
}